

.azeret-mono-narmal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <800>;
  font-style: normal;
}

.bg{
    background-image: url(../assets/Hero-bg.png);
    max-width: 1440px;
    max-height: 652px;
}
.all{
    text-align: center;
    padding: 0 200px 0 200px;
    
}
.laptop{
    width: 240.28;
    height: 240;
}
.main-title{
    width: 998;
    height: 136;
    color: #0D1321;
    margin-top: 32px;
    margin-bottom: 24px;
   
}
.sub-title{
    max-width: 852px;
    color: #0D1321;
    margin-bottom: 32px;
    }
    .btn{
        width: 244px;
        height: 64px;
        background-color: #0D1321;
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 600;
        color: #FFFFFF;
    }
    
    }




    
      #why{
        
        max-width: 1140px;
        height: 1393px;
        margin: auto;
        
        
        
      }  
    
    
      .title2{
       text-align: center;
       margin: 110px 200px 50px 200px;
       
      }
    
    .why-title{
        font-weight: 800;
        font-size: 32px;
        width: 852px;
        height: 37;
        color: #0D1321;
        text-align: center;
        

    }
    .why-sub{
       max-width: 852px;
       height: 52px;
       font-size: 16px;
       font-weight: 400;
       text-align: center;
        }
  
         

        .sec-1{
        
        margin-bottom: 32px;
        display: flex;
        justify-content: space-around;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: static;
        width: 850px;
        height: 240px;
        margin: auto;

       
    }
    .sec{
        width: 477px;
    }
    .sec1-title{
        font-weight: bold;
        font-size: 24;
    }
.sec1-sub-title{
    font-size: 16;
    font-weight: 400;
}
.sec1-btn{
    width: 171px;
    height: 47px;
    
}
.sec-btnn{
    font-weight: 600px;
    font-size: 20px;
    color: #0D1321;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
}
#sec-1{
    display: flex;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 850px;
    height: 240px;
    margin: auto;
    margin-top:5px ;
    
    
}

.video1{
    
    margin-top: 60px;
    
    
}
.video{
    margin-left: 350px;
    margin-top: 48px;
}
.vt{
    font-weight: 600px;
    font-size: 32;
    text-align: center;
}
.vp{
    font-size: 16;
    font-weight: 400;
    text-align: center;
    width: 852px;
    margin: auto;
}
.text-center{
    text-align: center;
}
.skills{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-bottom: 111px;
    margin-top: 48px;
    width: 1140px;
    height: 299px;
    padding-left: 100px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    width: 364px;
    height: 299px;
}
.add{
        background-color: #FF4C1E;
}
.add2{
    background-color: #004CE8;
}
.add3{
    background-color: #FFDF00;
}
.html-btn{
    text-decoration-line: underline;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    background: none;
    border: none;
   

}



















#bannar{
    background-image:  url(../assets/handshake.jpg);
    max-width: 1140px;
    height: 313px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    background-position: center;
    
   
       
}
#last{
    text-align: center;
    padding: 64px 48px 64px 48px;
    color: #FFFFFF;
    
}
#white{
    font-size: 32;
    font-weight: bold;
    
}
#lastp{
    font-size: 16;
    font-weight: 400;
    max-width: 606px;
    padding-left: 200px;
    margin-bottom: 24px;
            
}
#textl{
    width: 548px;
    height: 57px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
#buttonl{
    width: 120px;
    height: 57px;
    border-radius: 10px;
    border: none;
    color: #0D1321;
    font-size: 20;
    font-weight: 600px;
}



#ftr{
    display: flex;
    justify-content: space-around;
}
#foot{
    font-size: 20px;
    font-weight: 600;
}